<!--
  Generated template for the IntroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <ion-slides pager>

    <ion-slide class="slide-image">
      <img src="assets/imgs/slide-1.png" alt="">
      <h2>Seja bem vindo ao MyApp</h2>
      <div>
        <p><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit.</p>
        <p>Nullam in arcu semper, lacinia dolor nec, porta ipsum. Donec sed leo eu lorem viverra aliquam.</p>
      </div>
    </ion-slide>

    <ion-slide class="slide-image">
      <img src="assets/imgs/slide-2.png" alt="">
      <h2>Slide 2</h2>
    </ion-slide>

    <ion-slide class="slide-image">
        <img src="assets/imgs/slide-3.png" alt="">
        <h2>Slide 3</h2>
        <a (click)="goToTabsPage()">Legal! Usar o MyApp</a>
    </ion-slide>

  </ion-slides>
</ion-content>